{% extends template %}

{% block title %}Info{% endblock %}

{% block content %}

<section class="row justify-content-between">
    <div class="col p-0">
        <h2 class="h2 m-2 p-0 h1 text-uppercase text-center">{{ info.title }}</h2>
    </div>
</section>

<section>
    <div class="list-group my-2">
        <a class="list-group-item list-group-item-action list-group-item-info text-center" href="about/">{{ info.about }}</a>
        <a class="list-group-item list-group-item-action list-group-item-info text-center" href="howto/">{{ info.howto }}</a>
        <a class="list-group-item list-group-item-action list-group-item-info text-center" href="privacy_gdpr/">{{ info.privacy_gdpr }}</a>
        <a class="list-group-item list-group-item-action list-group-item-info text-center" href="volunteering_disclaimer/">{{ info.volunteering_disclaimer }}</a>
        <a class="list-group-item list-group-item-action list-group-item-info text-center" href="tos/">{{ info.tos }}</a>
    </div>
</section>

<section class="row p-0" style="background-color: white; border-color: #42cfbc; border-style: solid;">
    <div class="col p-1 my-auto">
        <img src="/media/img/Region_Blekinge.png" class="img-fluid d-block mx-auto align-middle w-75">
    </div>
    <div class="col p-1 my-auto">
        <img src="/media/img/E-llipse.svg" class="img-fluid w-75">
    </div>
    <div class="col p-1 my-auto">
        <img src="/media/img/Erasmus.jpg" class="img-fluid w-75">
    </div>
</section>

{% endblock %}
