{% extends "base.html" %}

{% block title %}Add Relations{% endblock %}

{% block content %}

<h1> {{ relations.add_new }} </h1>
<form action="/userprofile/relations/add/" class="was-validated" method="POST">
    {% csrf_token %} {# Protects against Cross Site Request Forgeries #}

    <div class="form-group">
        <label for="email">{{ form.email }}: </label>
        <input type="email" class="form-control" placeholder="{{ form.email }}..."
          id="email" name="email" {% if POST and not alert.email %} value="{{POST.email}}" {% endif %} required>
        <div class="invalid-feedback">{{ form.required }}</div>
    </div>

    {% if alerts.email == "email_does_not_exist" %}
    <div class="alert alert-danger">
      <strong>{{ warning }}!</strong> {{ alert.email_does_not_exist }}
    </div>
    {% elif alerts.database == "database_error" %}
    <div class="alert alert-danger">
        <strong>{{ warning }}!</strong> {{ alert.relation_allready_exists }}
    </div>
    {% endif %}

    <div class="form-group" name="share_data">
        <label for="share_data">{{ form.share_data }}:</label>
        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" id="share_profile" name="share_profile" value="1" checked disabled> {{ form.profile }}
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" id="share_savemeplan" name="share_savemeplan" value="1"> {{ form.savemeplan }}
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" id="share_check" name="share_check"value="1"> {{ form.check }}
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" id="share_prepare" name="share_prepare" value="1"> {{ form.prepare }}
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" id="share_media" name="share_media" value="1"> {{ form.media }}
            </label>
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-lg btn-success btn-block" value="{{ form.share_selected_data }}" style="margin-top:10px;">
        </div>
    </div>
</form>
<a type="button" class="btn btn-lg btn-primary btn-block" href="/userprofile/relations">{{ back }}</a>

{% endblock %}
