{% extends template %}

{% block title %}Change your password{% endblock %}

{% block statics %}
{% load static %}
<link rel="stylesheet" href="{% static "userprofile/profile.css" %}">
{% endblock %}

{% block content %}
  <div class="alert alert-warning" style="text-align: center;">
    <strong>{{ important }}!</strong> {{ change_password_text }}
  </div>
<a href="/userprofile/" class="btn btn-lg btn-danger btn-block" style="margin-bottom: 10px;">{{ back }}</a>
<form action="/userprofile/changepassword/" class="was-validated" method="POST">
  {% csrf_token %} {# Protects against Cross Site Request Forgeries #}
  <div class="form-group">
    <label for="current_password">{{ form.current }} {{ form.password|lower }}: </label>
    <input type="password" class="form-control" placeholder="{{ form.placeholder }} {{ form.current|lower }} {{ form.password|lower }}..."
    maxlength="64" id="current_password" name="current_password" required>
    <div class="invalid-feedback">{{ form.required }} {{ form.field_requirements }} 64 {{ form.characters }} </div>
  </div>
  {% if alert.current_password %}
  <div class="alert alert-danger">
    <strong>{{ alerts.warning }}!</strong> {{ alerts.relogin }}
  </div>
  {% endif %}

  <div class="form-group">
    <label for="new_password">{{ form.new }} {{ form.password|lower }}: </label>
    <input type="password" class="form-control" placeholder="{{ form.placeholder_pwd }} {{ form.new|lower }} {{ form.password|lower }}..."
    maxlength="64" id="new_password" name="new_password" required>
    <div class="invalid-feedback">{{ form.required }} {{ form.field_requirements }} 64 {{ form.characters }} </div>
  </div>

  <div class="form-group">
    <label for="new_repassword">{{ form.new }} {{ form.repassword }}: </label>
    <input type="password" class="form-control" placeholder="{{ form.placeholder }} {{ form.new|lower }} {{ form.repassword|lower }}..."
    maxlength="64" id="new_repassword" name="new_repassword" required>
    <div class="invalid-feedback">{{ form.required }} {{ form.field_requirements }} 64 {{ form.characters }}</div>
  </div>

  {% if alert.repassword %}
  <div class="alert alert-danger">
    <strong>{{ alerts.warning }}!</strong> {{ form.new }} {{ alerts.repassword|lower }}
  </div>
  {% endif %}
  <div class="form-group">
    <input type="submit" class="btn btn-lg btn-success btn-block" value="{{ form.change }}" style="margin-top:10px;">
  </div>
</form>
{% endblock %}
