{% extends template %}
{% block title %}
{% if not profView %}
Edit User Profile
{% else %}
{{ account.firstName }} {{ account.lastName }} Profile
{% endif %}
{% endblock %}

{% block content %}
{% if not profView %}
<h1>Edit User Profile</h1>
{% else %}
<h1>Profile</h1>
{% endif %}
<form action="/userprofile/edit/" class="was-validated" method="POST">
    {% csrf_token %} {# Protects against Cross Site Request Forgeries #}
    <div class="form-group">
      <label for="first_name">{{ form.first_name }}: </label>
      <input type="text" class="form-control" placeholder="{{ form.placeholder }} {{ form.first_name }}..."
        maxlength="64" id="first_name" name="first_name" value="{{ account.firstName }}" {% if POST %} value="{{POST.first_name}}" {% endif %}{# If post already has been submitted #}
        {% if profView %}disabled{% endif %} required>
      <div class="invalid-feedback">{{ form.required }} {{ form.field_requirements }} 64 {{ form.characters }} </div> {# Give feedback if input empty or longer then 64 chararacters #}
    </div>
    {% if alert.first_name %}
    <div class="alert alert-danger">
      <strong>{{ alerts.warning }}!</strong> {{ alerts.badChar }}
    </div>
    {% endif %}

    <div class="form-group">
      <label for="last_name">{{ form.last_name }}: </label>
      <input type="text" class="form-control" placeholder="{{ form.placeholder }} {{ form.last_name }}..."
        maxlength="64" id="last_name" name="last_name" value="{{ account.lastName }}" {% if POST %} value="{{POST.last_name}}" {% endif %} {% if profView %}disabled{% endif %} required>
      <div class="invalid-feedback">{{ form.required }} {{ form.field_requirements }} 64 {{ form.characters }}</div>
    </div>
    {% if alert.last_name %}
    <div class="alert alert-danger">
      <strong>{{ alerts.warning }}!</strong> {{ alerts.badChar }}
    </div>
    {% endif %}

    <label>{{ form.gender }}</label>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" id="gender" name="gender" value="Female"
          {% if account.gender == "Female" %} checked {% endif %}
          {% if POST and POST.gender and POST.gender == "Female" %} checked
          {% elif not POST or not POST.gender %} checked {% endif %} {% if profView %}disabled{% endif %}>{{ form.female }} {# Django cant prioritize with () #}
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" id="gender" name="gender" value="Male"
          {% if account.gender == "Male" %} checked {% endif %}
          {% if POST and POST.gender and POST.gender == "Male" %}checked {% endif %} {% if profView %}disabled{% endif %}>{{ form.male }}
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" id="gender" name="gender" value="Other"
          {% if account.gender != "Female" and account.gender != "Male" %} checked {% endif %}
          {% if POST and POST.gender and POST.gender != "Female" and POST.gender != "Male" %} checked {% endif %} {% if profView %}disabled{% endif %}>
          <input type="text" class="form-control" style="height: 30px; margin-bottom: 10px;" id="gender_other" name="gender_other"
          {% if account.gender != "Female" and account.gender != "Male" %} value="{{ account.gender }}" {% endif %}
          {% if POST %} value="{{POST.gender}}" {% endif %} maxlength="32" {% if profView %}disabled{% endif %}>
      </label>
    </div>
    {% if alert.gender or alert.gender_other %}
    <div class="alert alert-danger">
      <strong>{{ alerts.warning }}!</strong> {{ alerts.badChar }}
    </div>
    {% endif %}

    <div class="form-group">
      <label for="email">{{ form.email }}: </label>
      <input type="email" class="form-control" placeholder="{{ form.placeholder }} {{ form.email }}..."
        id="email" name="email" value="{{ account.email }}" {% if POST and not alert.email %} value="{{POST.email}}" {% endif %} {% if profView %}disabled{% endif %} required>
      <div class="invalid-feedback">{{ form.required }}.</div>
    </div>

    {% if alert.email == "badChar" %}
    <div class="alert alert-danger">
      <strong>{{ alerts.warning }}!</strong> {{ alerts.badChar }}
    </div>

    {% elif alert.email == "email_already_exists" %}
    <div class="alert alert-danger">
      <strong>{{ alerts.warning }}!</strong> {{ alerts.email_already_exists }}
    </div>
    {% endif %}

    {% if not profView %}
    <div class="form-group">
      <label for="password">{{ form.password }}: </label>
      <input type="password" class="form-control" placeholder="{{ form.placeholder }} {{ form.password }}..."
      maxlength="64" id="password" name="password" {% if profView %}disabled{% endif %} required>
    </div>
    {% endif %}

    {% if wrong_pass %}
    <div class="alert alert-danger">
      <strong>{{ alerts.warning }}!</strong> {{ alerts.wrong_pass }}
    </div>
    {% endif %}

    {% if not profView %}
    <div class="form-group">
      <input type="submit" class="btn btn-lg btn-success btn-block" value="{{ form.save }}" style="margin-top:10px;">
    </div>
    {% endif %}
</form>

{% if not profView %}
<div class="col-4 col-md-auto p-0 my-2">
    <button class="btn btn-danger btn-block" data-toggle="modal" data-target="#confirmRemoveAccount">{{ userprofile.edit.remove_account }}</i></button>
</div>

<div class="modal fade" id="confirmRemoveAccount" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <form action="/userprofile/edit/?delete=true" class="was-validated" method="POST">
        {% csrf_token %} {# Protects against Cross Site Request Forgeries #}
        <div class="modal-header">
          <h5 class="modal-title" id="modalCenterLongTitle">{{ userprofile.edit.modal.confirm_action }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>{{ userprofile.edit.modal.research_data }}</p>

          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="researchData" name="researchData">
            <label for="reseachData">{{ userprofile.edit.modal.save_research }}</label>
          </div>

          <div class="form-group">
            <label for="password">{{ form.password }}: </label>
            <input type="password" class="form-control" placeholder="{{ form.placeholder }} {{ form.password }}..."
            maxlength="64" id="password" name="password" {% if profView %}disabled{% endif %} required>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ userprofile.edit.modal.close }}</button>
          <input type="submit" class="btn btn-danger" value="{{ userprofile.edit.modal.confirm }}">
        </div>
      </form>
    </div>
  </div>
</div>
{% endif %}

{% if not profView %}
<a type="button" class="btn btn-primary btn-block" href="/userprofile/">{{ back }}</a>
{% endif %}

{% if profView %}
<a type="button" class="btn btn-primary btn-block" href="/professionals/">{{ back }}</a>
{% endif %}

{% endblock %}
