{% extends template %}

{% block title %}Profile{% endblock %}

{% block statics %}
{% load static %}
<link rel="stylesheet" href="{% static "userprofile/profile.css" %}">
{% endblock %}

{% block content %}

<div class="col-sm-12">
  <div class="profile">
    <h1>{{ first_name }} {{ last_name }}</h1>
     <a type="button" class="btn btn-lg btn-primary btn-block" href="edit/">{{ profile.edit }}</a>
     <a type="button" class="btn btn-lg btn-primary btn-block" href="changepassword/">{{ profile.change_pass }}</a>
     <a type="button" class="btn btn-lg btn-primary btn-block" href="backupkey/">{{ profile.save_backup }}</a>
     <a type="button" class="btn btn-lg btn-success btn-block" href="relations">{{ profile.relations }}</a>
     <a type="button" class="btn btn-lg btn-warning btn-block" href="#">GDPR</a>
     <a type="button" class="btn btn-lg btn-danger btn-block" name="logout" value="1" href="?logout=1">{{ profile.logout }}</a>
  </div>

</div>

{% endblock %}
