{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% load static %}
{% block statics %}
<link rel="stylesheet" href="{% static "savemeplan/savemeplan.css" %}">
{% endblock %}

{% block content %}
<section class="row p-2 align-items-center justify-content-between" style="background-color: white; border-style: solid; border-color: #ff66f0;">
    <div class="col-md-4 col page-title">
        <h4 class="m-2 p-0 text-center"><i class="fas fa-umbrella"></i>{{ feature_title }}!</h4>
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-2 px-1">
                <a class="btn btn-outline-info btn-block part-button {% if content.part == 'A' %} active {% endif %}" name="page" href="/savemeplan/0/">A</a>
            </div>
            <div class="col-2 px-1">
                <a class="btn btn-outline-info btn-block part-button {% if content.part == 'B' %} active {% endif %}" name="page" href="/savemeplan/5/">B</a>
            </div>
            <div class="col-2 px-1">
                <a class="btn btn-outline-info btn-block part-button {% if content.part == 'C' %} active {% endif %}" name="page" href="/savemeplan/10/">C</a>
            </div>
            <div class="col-2 px-1">
                <a class="btn btn-outline-info btn-block part-button {% if content.part == 'D' %} active {% endif %}" name="page" href="/savemeplan/15/">D</a>
            </div>
            <div class="col-4 px-1">
                <a class="btn btn-outline-info btn-block part-button {% if content.part == 'history' %} active {% endif %}" name="page" href="/savemeplan/history/">{{ history }}</a>
            </div>
        </div>
    </div>
</section>

<div class="part-description bg-success">
  <h4>{{ content.title }}</h4>
</div>

<div class="list-group" style="margin-top: 20px;">
 <a href="/savemeplan/{{ content.step_1.0 }}/" class="list-group-item list-group-item-action text-center" style="background-color: {{ content.step_1.2 }};">{{ content.step_1.1 }}</a>
 <a href="/savemeplan/{{ content.step_2.0 }}/" class="list-group-item list-group-item-action text-center" style="background-color: {{ content.step_2.2 }};">{{ content.step_2.1 }}</a>
 <a href="/savemeplan/{{ content.step_3.0 }}/" class="list-group-item list-group-item-action text-center" style="background-color: {{ content.step_3.2 }};">{{ content.step_3.1 }}</a>
 <a href="/savemeplan/{{ content.step_4.0 }}/" class="list-group-item list-group-item-action text-center" style="background-color: {{ content.step_4.2 }};">{{ content.step_4.1 }}</a>
</div>

{% endblock %}
