{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% load static %}
{% block statics %}
<link rel="stylesheet" href="{% static "savemeplan/savemeplan.css" %}">
{% endblock %}

{% block content %}
<style type="text/css">
textarea:focus {
  background-color: {{ content.step_bg }};
}
</style>
<section class="row p-2 align-items-center justify-content-between" style="background-color: white; border-style: solid; border-color: #ff66f0;">
    <div class="col-md-4 col page-title">
        <h4 class="m-2 p-0 text-center"><i class="fas fa-umbrella"></i>Save.Me Plan!</h4>
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-2 px-1">
                <a class="btn btn-outline-info btn-block part-button {% if content.part == 'A' %} active {% endif %}" name="page" href="/savemeplan/0/">A</a>
            </div>
            <div class="col-2 px-1">
                <a class="btn btn-outline-info btn-block part-button {% if content.part == 'B' %} active {% endif %}" name="page" href="/savemeplan/5/">B</a>
            </div>
            <div class="col-2 px-1">
                <a class="btn btn-outline-info btn-block part-button {% if content.part == 'C' %} active {% endif %}" name="page" href="/savemeplan/10/">C</a>
            </div>
            <div class="col-2 px-1">
                <a class="btn btn-outline-info btn-block part-button {% if content.part == 'D' %} active {% endif %}" name="page" href="/savemeplan/15/">D</a>
            </div>
            <div class="col-4 px-1">
                <a class="btn btn-outline-info btn-block part-button {% if content.part == 'D' %} active {% endif %}" name="page" href="/savemeplan/history/">History</a>
            </div>
        </div>
    </div>
</section>

<div class="part-description" style="background-color: {{ content.step_bg }};">
  <h4>{{ content.step_title }}:</h4>
</div>

<div class="step" style="background-color: {{ content.step_bg }};">
  <h5>{{ content.step }}</h5>
</div>

<div class="item-info">
  <p class="text-muted text-center">{{ content.describe_info }}</p>
</div>
<form action="/savemeplan/{{ content.current_step }}/" method="POST">
  {% csrf_token %}
  <ul class="list-group item-list">
      {% for item in content.options %}
        <button type="submit" class="list-group-item list-item" style="background-color: {{ content.step_bg }};" name="choosen_item" value="{{ item }}">{{ item }}</button>
      {% endfor %}
  </ul>
</form>
<form action="/savemeplan/{{ content.current_step }}/" method="POST">
  {% csrf_token %}
  <div class="form-group">
    <textarea class="form-control" rows="5" id="describe" name="describe" style="background-color: {{ content.step_bg }};" placeholder="{{ content.describe_placeholder }}..." maxlength="64">{% if content.text %}{{ content.text }}{% else %}{{ content.textarea_text }}{% endif %}</textarea>
  </div>
  <div class="form-group rating">
    <label for="rating">{{ content.rate }}<br>1 - {{ content.1 }}<br>{% if content.4 %}4 - {{ content.4 }}{% else %} 9 - {{ content.9 }}{% endif %}</label>
    <input type="number" class="form-control" min="1" {% if content.4 %}max="4" value="2"{% else %}max="9" value="5"{% endif %} id="rating" name="rating" required>
  </div>
  <button type="submit" class="btn btn-primary btn-block btn-lg">{{ next_step }}</button>
</form>


{% endblock %}
