{% extends "base.html" %}

{% block title %}Forgot password{% endblock %}

{% block content %}

<div class="alert alert-warning" style="text-align: center;">
  <strong>{{ important }}!</strong> {{ forgot_password_info }}
</div>

{% if alert.relogin%}
<div class="alert alert-danger">
  <strong>{{ alerts.warning }}!</strong> {{ alerts.relogin }}
</div>
{% endif %}

<form action="/login/forgotpassword/" class="was-validated" method="POST">
    {% csrf_token %} {# Protects against Cross Site Request Forgeries #}
   <div class="form-group">
     <label for="email">{{ form.email }}</label>
     <input type="email" class="form-control" placeholder="{{ form.placeholder }} {{ form.email|lower }}..."
     id="email" name="email" {% if POST and not alert.relogin %} value="{{ POST.email }}" {% endif %} required>
     <div class="invalid-feedback">{{ form.required }}.</div>
   </div>

   <div class="form-group">
     <label for="password">{{ form.new }} {{ form.password|lower }}: </label>
     <input type="password" class="form-control" placeholder="{{ form.placeholder_pwd }} {{ form.new|lower }} {{ form.password|lower }}..."
     maxlength="64" id="password" name="password" maxlength="128" required>
     <div class="invalid-feedback">{{ form.required }}.</div>
   </div>

   <div class="form-group">
     <label for="repassword">{{ form.repassword }}: </label>
     <input type="password" class="form-control" placeholder="{{ form.placeholder }} {{ form.repassword|lower }}..."
     maxlength="64" id="repassword" name="repassword" maxlength="128" required>
     <div class="invalid-feedback">{{ form.required }}.</div>
   </div>

   {% if alert.repassword %}
   <div class="alert alert-danger">
     <strong>{{ alerts.warning }}!</strong> {{ alerts.repassword }}
   </div>
   {% endif %}

  <div class="form-group">
    <label for="priv_key">Backup key</label>
    <textarea class="form-control" rows="5" id="priv_key" name="priv_key" required>{% if POST and not alert.relogin %}{{ POST.priv_key }}{% endif %}</textarea>
    <div class="invalid-feedback">{{ form.required }}.</div>
  </div>

 <button type="submit" class="btn btn-block btn-lg btn-primary">{{ form.change }} {{ form.password|lower }}</button>
</form>

<a href="/login/" class="btn btn-lg btn-danger btn-block" style="margin-top: 10px;">{{ back }}</a>

{% endblock %}
