{% extends "base.html" %}

{% block title %}Check{% endblock %}


{% block content %}

<section class="row p-2 justify-content-between" style="background-color: white; border-style: solid; border-color: #42cfbc;">
    <div class="col p-0">
        <h2 class="h2 m-2 p-0 h1 text-uppercase text-left"><i class="fas fa-envelope"></i></h2>
    </div>
    <div class="col-auto p-0">
        <h1 class="h2 m-2 p-0 text-uppercase text-right"><i class="fas fa-star"></i> {{ check.title }}</h1>
    </div>
</section>

<section class="my-2 mx-1 p-2 rounded justify-content-between" style="background-color: #d4fef8; border-style: solid; border-color: #109075;">
    <div class="p-0">
        <h2 class="h4"><i class="fas fa-suitcase"></i> {{ check.practice_self_care.subtitle }}</h2>
    </div>
</section>

<section class="my-2 mx-1 p-1 rounded" style="background-color: #d4fef8; border-style: solid; border-color: #109075;">
    <div class="col-md-12">
        <h3 class="text-uppercase text-center h5">{{ check.progress_overview }}</h3>
        <div class="row align-items-center">
            <div class="col-12 col-md-6 px-1 my-1">
                <a class="btn btn-info btn-block" href="/check/1/">{{ check.pages.0 }}</a>
            </div>
            <div class="col-12 col-md-6 px-1 my-1">
                <a class="btn btn-info btn-block" href="/check/2/">{{ check.pages.1 }}</a>            
            </div>
            <div class="col-12 col-md-6 px-1 my-1">
                <a class="btn btn-info btn-block" href="/check/4/">{{ check.pages.2 }}</a>            
            </div>
            <div class="col-12 col-md-6 px-1 my-1">
                <a class="btn btn-info btn-block active" href="#">{{ check.pages.3 }}</a>            
            </div>
        </div>
    </div>
</section>

<hr>

<section class="my-2 mx-1 p-2 rounded" style="background-color: #d4fef8; border-style: solid; border-color: #109075;">
    <div class="row justify-content-between">
        <div class="col-12 col-md-6 d-flex align-items-center">
            <p class="text-center h3 text-white w-100" style="background-color: #535353;">{{ check.practice_self_care.steps.0 }} {{ check.practice_self_care.steps.1 }}: {{ check.practice_self_care.statistics.0 }}</p>
        </div>
        <div class="col-md-auto">
            <img class="mx-auto d-block img-fluid rounded" src="/static/img/trend-graph-icon-trendy-isolated-260nw-1358202131.jpg"> <!-- TEMP IMAGE-->
        </div>
    </div>
    <hr>
    <div class="row justify-content-between">
        <div class="col-12 col-md-6 d-flex align-items-center">
            <p class="text-center h3 text-white w-100" style="background-color: #d5296b;">{{ check.practice_self_care.steps.0 }} {{ check.practice_self_care.steps.2 }}: {{ check.practice_self_care.statistics.1 }}</p>
        </div>
        <div class="col-md-auto">
            <img class="mx-auto d-block img-fluid rounded" src="/static/img/trend-graph-icon-trendy-isolated-260nw-1358202131.jpg"> <!-- TEMP IMAGE-->
        </div>
    </div>
    <hr>
    <div class="row justify-content-between">
        <div class="col-12 col-md-6 d-flex align-items-center">
            <p class="text-center h3 text-white w-100" style="background-color: #3b3de6;">{{ check.practice_self_care.steps.0 }} {{ check.practice_self_care.steps.3 }}: {{ check.practice_self_care.statistics.2 }}</p>
        </div>
        <div class="col-md-auto">
            <img class="mx-auto d-block img-fluid rounded" src="/static/img/trend-graph-icon-trendy-isolated-260nw-1358202131.jpg"> <!-- TEMP IMAGE-->
        </div>
    </div>


    <hr>


    <div class="row justify-content-between">
        <div class="col-12 col-md-6 d-flex align-items-center">
            <p class="text-center h3 text-white w-100" style="background-color: #984807;">{{ check.practice_self_care.steps.0 }} {{ check.practice_self_care.steps.4 }}: {{ check.practice_self_care.statistics.3 }}</p>
        </div>
        <div class="col-md-auto">
            <img class="mx-auto d-block img-fluid rounded" src="/static/img/trend-graph-icon-trendy-isolated-260nw-1358202131.jpg"> <!-- TEMP IMAGE-->
        </div>
    </div>
    <hr>
    <div class="row justify-content-between">
        <div class="col-12 col-md-6 d-flex align-items-center">
            <p class="text-center h3 text-white w-100" style="background-color: #984807;">{{ check.practice_self_care.steps.0 }} {{ check.practice_self_care.steps.5 }}: {{ check.practice_self_care.statistics.4 }}</p>
        </div>
        <div class="col-md-auto">
            <img class="mx-auto d-block img-fluid rounded" src="/static/img/trend-graph-icon-trendy-isolated-260nw-1358202131.jpg"> <!-- TEMP IMAGE-->
        </div>
    </div>
    <hr>
    <div class="row justify-content-between">
        <div class="col-12 col-md-6 d-flex align-items-center">
            <p class="text-center h3 text-white w-100" style="background-color: #106f13;">{{ check.practice_self_care.steps.0 }} {{ check.practice_self_care.steps.6 }}: {{ check.practice_self_care.statistics.5 }}</p>
        </div>
        <div class="col-md-auto">
            <img class="mx-auto d-block img-fluid rounded" src="/static/img/trend-graph-icon-trendy-isolated-260nw-1358202131.jpg"> <!-- TEMP IMAGE-->
        </div>
    </div>


    <hr>


    <div class="row justify-content-between">
        <div class="col-12 col-md-6 d-flex align-items-center">
            <p class="text-center h3 text-white w-100" style="background-color: #7fd3b1;">{{ check.practice_self_care.steps.0 }} {{ check.practice_self_care.steps.7 }}: {{ check.practice_self_care.statistics.6 }}</p>
        </div>
        <div class="col-md-auto">
            <img class="mx-auto d-block img-fluid rounded" src="/static/img/trend-graph-icon-trendy-isolated-260nw-1358202131.jpg"> <!-- TEMP IMAGE-->
        </div>
    </div>
    <hr>
    <div class="row justify-content-between">
        <div class="col-12 col-md-6 d-flex align-items-center">
            <p class="text-center h3 text-white w-100" style="background-color: #0082cc;">{{ check.practice_self_care.steps.0 }} {{ check.practice_self_care.steps.8 }}: {{ check.practice_self_care.statistics.7 }}</p>
        </div>
        <div class="col-md-auto">
            <img class="mx-auto d-block img-fluid rounded" src="/static/img/trend-graph-icon-trendy-isolated-260nw-1358202131.jpg"> <!-- TEMP IMAGE-->
        </div>
    </div>
    <hr>
    <div class="row justify-content-between">
        <div class="col-12 col-md-6 d-flex align-items-center">
            <p class="text-center h3 text-white w-100" style="background-color: #1eb001;">{{ check.practice_self_care.steps.0 }} {{ check.practice_self_care.steps.9 }}: {{ check.practice_self_care.statistics.8 }}</p>
        </div>
        <div class="col-md-auto">
            <img class="mx-auto d-block img-fluid rounded" src="/static/img/trend-graph-icon-trendy-isolated-260nw-1358202131.jpg"> <!-- TEMP IMAGE-->
        </div>
    </div>


    <hr>


    <div class="row justify-content-between">
        <div class="col-12 col-md-6 d-flex align-items-center">
            <p class="text-center h3 text-white w-100" style="background-color: #59a6ff;">{{ check.practice_self_care.steps.0 }} {{ check.practice_self_care.steps.10 }}: {{ check.practice_self_care.statistics.9 }}</p>
        </div>
        <div class="col-md-auto">
            <img class="mx-auto d-block img-fluid rounded" src="/static/img/trend-graph-icon-trendy-isolated-260nw-1358202131.jpg"> <!-- TEMP IMAGE-->
        </div>
    </div>
    <hr>
    <div class="row justify-content-between">
        <div class="col-12 col-md-6 d-flex align-items-center">
            <p class="text-center h3 text-white w-100" style="background-color: #ff2f90;">{{ check.practice_self_care.steps.0 }} {{ check.practice_self_care.steps.11 }}: {{ check.practice_self_care.statistics.10 }}</p>
        </div>
        <div class="col-md-auto">
            <img class="mx-auto d-block img-fluid rounded" src="/static/img/trend-graph-icon-trendy-isolated-260nw-1358202131.jpg"> <!-- TEMP IMAGE-->
        </div>
    </div>
    <hr>
    <div class="row justify-content-between">
        <div class="col-12 col-md-6 d-flex align-items-center">
            <p class="text-center h3 text-white w-100" style="background-color: #3a9ba1;">{{ check.practice_self_care.steps.0 }} {{ check.practice_self_care.steps.12 }}: {{ check.practice_self_care.statistics.11 }}</p>
        </div>
        <div class="col-md-auto">
            <img class="mx-auto d-block img-fluid rounded" src="/static/img/trend-graph-icon-trendy-isolated-260nw-1358202131.jpg"> <!-- TEMP IMAGE-->
        </div>
    </div>
</section>

<div class="row mx-0 p-1">
    <p class="col-auto h5" style="background-color: rgb(255, 242, 204); width: auto;">{{ check.good_job }} <i class="fas fa-smile"></i></p>
</div>


{% endblock %}
