{% extends "base.html" %}

{% block title %}{{ prepare.how_to.title }} - {{ prepare.title }}{% endblock %}


{% block content %}

<section class="row p-2 align-items-center justify-content-between" style="background-color: white; border-style: solid; border-color: #42cfbc;">
    <div class="col-md-4 col ">
        <h1 class="m-2 p-0 h4 text-uppercase text-center"><i class="fas fa-suitcase"></i> {{ nav.prepare }}!</h1>
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-4 px-1">
                <a class="btn btn-info btn-block active" name="page" value="1" href="#">{{ nav.library }}</a>
            </div>
            <div class="col-4 px-1">
                <a class="btn btn-info btn-block" name="page" value="5" href="/prepare/5">{{ nav.contacts }}</a>            
            </div>
            <div class="col-4 px-1">
                <a class="btn btn-info btn-block" name="page" value="7" href="/prepare/7">{{ nav.notes }}</a>            
            </div>
        </div>
    </div>
</section>

<section class="m-2 p-2 rounded" style="background-color: #d4fef8; border-style: solid; border-color: #109075;">
    <h2 class="text-uppercase">{{ prepare.steps.0 }} {{ prepare.steps.1 }}/{{ prepare.steps.8 }}: {{ prepare.how_to.title }}</h2>
</section>

<section>
    <div class="row m-2 rounded align-items-center" style="background-color: #d4fef8; border-style: solid; border-color: #109075;">
        <div class="col-md">
            <h3 class="text-uppercase">{{ prepare.how_to.young }}</h3>
        </div>
        <div class="m-2 col-md-4 embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ooHXqKkkjgY" allowfullscreen></iframe> <!--REPLACE-->
        </div>
    </div>

    <div class="row m-2 rounded align-items-center" style="background-color: #d4fef8; border-style: solid; border-color: #109075;">
        <div class="col-md">
            <h3 class="text-uppercase">{{ prepare.how_to.middle_aged }}</h3>
        </div>
        <div class="m-2 col-md-4 embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ooHXqKkkjgY" allowfullscreen></iframe> <!--REPLACE-->
        </div>
    </div>

    <div class="row m-2 rounded align-items-center" style="background-color: #d4fef8; border-style: solid; border-color: #109075;">
        <div class="col-md">
            <h3 class="text-uppercase">{{ prepare.how_to.senior }}</h3>
        </div>
        <div class="m-2 col-md-4 embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ooHXqKkkjgY" allowfullscreen></iframe> <!--REPLACE-->
        </div>
    </div>
    
    <div class="row m-2 rounded align-items-center" style="background-color: #d4fef8; border-style: solid; border-color: #109075;">
        <div class="col-md">
            <h3>{{ prepare.how_to.me }}({{ prepare.how_to.title }}?)</h3>
        </div>
        <div class="m-2 col-md-4 embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ooHXqKkkjgY" allowfullscreen></iframe> <!--REPLACE-->
        </div>
    </div>
</section>

<section style="margin:20px 0">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled"><a class="page-link" htef="#">{{ prepare.steps.0 }}:</a></li>
        <li class="page-item active"><a class="page-link" name="page" value="1" href="#">{{ prepare.steps.1 }}</a></li>
        <li class="page-item"><a class="page-link" name="page" value="2" href="/prepare/2">{{ prepare.steps.2 }}</a></li>
        <li class="page-item"><a class="page-link" name="page" value="3" href="/prepare/3">{{ prepare.steps.3 }}</a></li>
        <li class="page-item"><a class="page-link" name="page" value="4" href="/prepare/4">{{ prepare.steps.4 }}</a></li>
        <li class="page-item"><a class="page-link" name="page" value="5" href="/prepare/5">{{ prepare.steps.5 }}</a></li>
        <li class="page-item"><a class="page-link" name="page" value="6" href="/prepare/6">{{ prepare.steps.6 }}</a></li>
        <li class="page-item"><a class="page-link" name="page" value="7" href="/prepare/7">{{ prepare.steps.7 }}</a></li>
        <li class="page-item"><a class="page-link" name="page" value="8" href="/prepare/8">{{ prepare.steps.8 }}</a></li>
    </ul>
</section>

{% endblock %}
