{% extends template %}

{% block title %}Prepare{% endblock %}


{% block content %}

<section class="row p-2 align-items-center justify-content-between" style="background-color: white; border-style: solid; border-color: #42cfbc;">
    <div class="col-md-4 col ">
        <h1 class="m-2 p-0 h4 text-uppercase text-center"><i class="fas fa-suitcase"></i> {{ nav.prepare }}!</h1>
    </div>
    <div class="col-md-8">
        <div class="row">
            {% if not profView %}
                <div class="col-4 px-1">
                    <a class="btn btn-info btn-block" name="page" value="1" href="/prepare/1/">{{ nav.library }}</a>
                </div>
                <div class="col-4 px-1">
                    <a class="btn btn-info btn-block" name="page" value="5" href="/prepare/5/">{{ nav.contacts }}</a>            
                </div>
                <div class="col-4 px-1">
                    <a class="btn btn-info btn-block" name="page" value="7" href="/prepare/7/">{{ nav.notes }}</a>            
                </div>
            {% else %}
                <div class="col-4 px-1">
                    {% if media %}
                        <a class="btn btn-info btn-block" name="page" value="3" href="/professionals/{{UserId}}/prepare/3/">{{ nav.library }}</a>
                    {% else %}
                        <a class="btn btn-info btn-block" name="page" value="1" href="/professionals/{{UserId}}/prepare/1/">{{ nav.library }}</a>
                    {% endif %}
                </div>
                
                <div class="col-4 px-1">
                    {% if prep %}
                        <a class="btn btn-info btn-block" name="page" value="5" href="/professionals/{{UserId}}/prepare/5/">{{ nav.contacts }}</a>
                    {% else %}
                        <a class="btn btn-info btn-block" name="page" value="5">{{ nav.contacts }}</a>
                    {% endif %}      
                </div>
                <div class="col-4 px-1">
                    {% if prep %}
                        <a class="btn btn-info btn-block" name="page" value="7" href="/professionals/{{UserId}}/prepare/7/">{{ nav.notes }}</a> 
                    {% else %}
                        <a class="btn btn-info btn-block" name="page" value="7">{{ nav.notes }}</a>
                    {% endif %}          
                </div>
            {% endif %}
        </div>
    </div>
</section>

<section class="my-2 mx-1 p-2 rounded" style="background-color: #d4fef8; border-style: solid; border-color: #109075;">
    <h2 class="h4 text-uppercase">{{ prepare.steps.0 }} {{ prepare.steps.8 }}/{{ prepare.steps.8 }}: {{ prepare.therapy_notes.title }}</h2>
    <p>{{ prepare.therapy_notes.important_facts }}<br>
    {{ prepare.therapy_notes.what_helps }}</p>
</section>

<section class="my-2 mx-1 p-2 rounded" style="background-color: #d4fef8; border-style: solid; border-color: #109075;">
    <h3>{{ prepare.diary.stored_entries }}</h3>
    <hr class="mx-0 my-1" style="border-style: solid; border-color: #109075;">
    
<!--
    Kommentar för implementation:
    Varje dict 'entry' i listan 'entries' sparas med följande variabler:
    - EntryDate (datum som användare fyller i)
    - Text (text som användare fyller i)
    - TimestampCreated (autogenererad, anger exakt när entry skapades)
    - Id (id för entry)

    Sortering skall ske innan output, enligt följande ordning:
    1. EntryDate
    2. TimestampCreated
-->

{% for entry in entries %}
    <div class="row my-2">
        <div class="col-12 col-md-auto">
            <p>{{ entry.EntryDate }}</p>
        </div>
        <div class="col-12 col-md">
            <p class="p-1 m-0" style="background-color: white; border-style: solid; border-color: lightgray">{{ entry.Text }} </br> {{ entry.Author }} ({{entry.AuthorId}}) </p>
        </div>
        {% if entry.Owner %}
        <div class="col-12 col-md-auto m-1">
            <button class="btn btn-danger btn-block" data-toggle="modal" data-target="#confirmRemoveEntry{{ entry.Id }}"><i class="fas fa-trash-alt"></i></button>
        </div>
        {% endif %}
    </div>
    
    {% if entry.Owner %}
    <!-- Modal -->
    <div class="modal fade" id="confirmRemoveEntry{{ entry.Id }}" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="modalCenterLongTitle">{{ prepare.therapy_notes.modal.confirm_action }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <p>{{ prepare.therapy_notes.modal.confirm_remove_entry }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ prepare.therapy_notes.modal.close }}</button>
                    <a name="delete" type="button" class="btn btn-danger" value="1" href="/prepare/7/{{ entry.Id }}?delete=true">{{ prepare.therapy_notes.modal.remove_entry }}</a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <hr class="mx-0 my-1" style="border-style: solid; border-color: #109075;">
    {% endfor %}

    
    
    <h3>{{ prepare.diary.create_entry }}</h3>
    {% if not profView %}
        <form action="/prepare/8/" class="was-validated" method="POST">
    {% else %}
    <form action="/professionals/{{UserId}}/prepare/8/" class="was-validated" method="POST">  
    {% endif %}
    {% csrf_token %} {# Protects against Cross Site Request Forgeries #}
        <div class="row">
            <div class="form-group col-12 col-md-auto">
                <label for="date_of_birth">{{ prepare.therapy_notes.date }}: </label>
                <input type="date" class="form-control" id="date" name="date"
                  min="1850-01-01" max="{% now "Y-m-d" %}" required>
            </div>
            <div class="form-group col-12 col-md">
                <label for="media_text">{{ prepare.therapy_notes.text }}:</label>
                <textarea class="form-control" rows="2" id="text" name="text" maxlength="500" required></textarea>
              </div>
              {% if alerts.text %}
              <div class="alert alert-danger">
                <strong>{{ error }}</strong> {{ alerts.text }}
              </div>
              {% endif %}
            </div>
            <div class="form-group col-12 m-0 p-0">
                <input type="submit" class="btn btn-lg btn-success btn-block" value="{{ prepare.therapy_notes.add }}">
            </div>
        </div>
    </form>
</section>

<section class="my-3 mx-0">
    <ul class="pagination justify-content-center">
        {% if not profView %}
        <li class="page-item disabled"><a class="page-link" htef="#">{{ prepare.steps.0 }}:</a></li>
        <li class="page-item"><a class="page-link" name="page" value="1" href="/prepare/1">{{ prepare.steps.1 }}</a></li>
        <li class="page-item"><a class="page-link" name="page" value="2" href="/prepare/2">{{ prepare.steps.2 }}</a></li>
        <li class="page-item"><a class="page-link" name="page" value="3" href="/prepare/3">{{ prepare.steps.3 }}</a></li>
        <li class="page-item"><a class="page-link" name="page" value="4" href="/prepare/4">{{ prepare.steps.4 }}</a></li>
        <li class="page-item"><a class="page-link" name="page" value="5" href="/prepare/5">{{ prepare.steps.5 }}</a></li>
        <li class="page-item"><a class="page-link" name="page" value="6" href="/prepare/6">{{ prepare.steps.6 }}</a></li>
        <li class="page-item"><a class="page-link" name="page" value="7" href="/prepare/7">{{ prepare.steps.7 }}</a></li>
        <li class="page-item active"><a class="page-link" name="page" value="8" href="#">{{ prepare.steps.8 }}</a></li>
        {% endif %}

        {% if profView %}
            <li class="page-item disabled"><a class="page-link" htef="#">{{ prepare.steps.0 }}:</a></li>
            {% if prep %}
                <li class="page-item"><a class="page-link" name="page" value="1" href="/professionals/{{UserId}}/prepare/1/"> {{ prepare.steps.1 }}</a></li>
                <li class="page-item"><a class="page-link" name="page" value="2" href="/professionals/{{UserId}}/prepare/2/">{{ prepare.steps.2 }}</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" name="page" value="1"> {{ prepare.steps.1 }}</a></li>
                <li class="page-item"><a class="page-link" name="page" value="2">{{ prepare.steps.2 }}</a></li>
            {% endif %}

            {% if media %}
                <li class="page-item"><a class="page-link" name="page" value="3" href="/professionals/{{UserId}}/prepare/3/">{{ prepare.steps.3 }}</a></li>
                <li class="page-item"><a class="page-link" name="page" value="4" href="/professionals/{{UserId}}/prepare/4/">{{ prepare.steps.4 }}</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" name="page" value="3">{{ prepare.steps.3 }}</a></li>
                <li class="page-item"><a class="page-link" name="page" value="4">{{ prepare.steps.4 }}</a></li>
            {% endif %}

            {% if prep %}
                <li class="page-item"><a class="page-link" name="page" value="5" href="/professionals/{{UserId}}/prepare/5/">{{ prepare.steps.5 }}</a></li>
                <li class="page-item"><a class="page-link" name="page" value="6" href="/professionals/{{UserId}}/prepare/6/">{{ prepare.steps.6 }}</a></li>
                <li class="page-item"><a class="page-link" name="page" value="7" href="/professionals/{{UserId}}/prepare/7/">{{ prepare.steps.7 }}</a></li>
                <li class="page-item active"><a class="page-link" name="page" value="8" href="#">{{ prepare.steps.8 }}</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" name="page" value="5">{{ prepare.steps.5 }}</a></li>
                <li class="page-item"><a class="page-link" name="page" value="6">{{ prepare.steps.6 }}</a></li>
                <li class="page-item"><a class="page-link" name="page" value="7">{{ prepare.steps.7 }}</a></li>
                <li class="page-item"><a class="page-link" name="page" value="8">{{ prepare.steps.8 }}</a></li>
            {% endif %}
        {% endif %}
    </ul>
</section>

{% endblock %}
