{% extends "base.html" %}

{% block title %}Prepare{% endblock %}

{% block content %}

<h2></h2>
<form enctype="multipart/form-data" action="/prepare/memory/add/" method="POST"> {# enctype="multipart/form-data" is needed for file uploads to work. #}
  {% csrf_token %}
  <div class="form-group">
    <label for="title">{{ prepare.memory }}:</label>
    <input type="text" class="form-control" placeholder="{{ prepare.add_a_memory|lower }}..."
    id="title" name="title" maxlength="64" {% if POST.title %} value="{{ POST.title }}" {% endif %}>
  </div>
  {% if alerts.title %}
  <div class="alert alert-danger">
    <strong>{{ error }}</strong> {{ alerts.title }}
  </div>
  {% endif %}
  <div class="form-group">
    <label for="media_text">{{ prepare.text }}:</label>
    <textarea class="form-control" rows="5" id="media_text" name="media_text" maxlength="500">{% if POST.media_text %}{{ POST.media_text }}{% endif %}</textarea>
  </div>
  {% if alerts.text %}
  <div class="alert alert-danger">
    <strong>{{ error }}</strong> {{ alerts.text }}
  </div>
  {% endif %}
  <div class="alert alert-info">
    {{ prepare.long_texts.media_info }}
    <br>
    {{ prepare.long_texts.link_info }}
    <br>
    {{ prepare.long_texts.file_info }}
  </div>
  {% if media_type == 'file' %}
  <div class="form-group">
    <label for="file">{{ prepare.upload }} {{ max_file_size }}MB</label>
    <input type="file" class="form-control-file border" id="media" name="media" accept="audio/*,video/*,image/*">
  </div>
  {% if alerts.file %}
  <div class="alert alert-danger">
    <strong>{{ error }}</strong> {{ alerts.file}}
  </div>
  {% endif %}
  {% elif media_type == 'url' %}
  <div class="form-group">
    <label for="link">{{ prepare.link }}:</label>
    <input type="text" class="form-control" placeholder="{{ prepare.placeholder }} {{ prepare.link|lower }}..."
    id="link" name="link" {% if POST.link %} value="{{ POST.link }}" {% endif %}>
  </div>
  {% endif %}
  <button type="submit" class="btn btn-warning btn-lg btn-block" formaction="?media_type=url&mem_type={{ mem_type }}">{{ prepare.link }}</button>
  <button type="submit" class="btn btn-warning btn-lg btn-block" formaction="?media_type=file&mem_type={{ mem_type }}">{{ prepare.file }}</button>
  <div class="form-group">
    <label for="type">{{ prepare.long_texts.memory_type }}</label>
    <select class="form-control" id="type" name="type">
      <option value="mc" {% if POST.type and POST.type == "mc" %} selected{% endif %}>{{ prepare.mem_cats_single.0 }}</option>
      <option value="ge" {% if POST.type and POST.type == "ge" %} selected{% endif %}>{{ prepare.mem_cats_single.1 }}</option>
      <option value="vs" {% if POST.type and POST.type == "vs" %} selected{% endif %}>{{ prepare.mem_cats_single.2 }}</option>
      <option value="ie" {% if POST.type and POST.type == "ie" %} selected{% endif %}>{{ prepare.mem_cats_single.4 }}</option>
      <option value="pe" {% if POST.type and POST.type == "pe" %} selected{% endif %}>{{ prepare.mem_cats_single.5 }}</option>
      <option value="me" {% if POST.type and POST.type == "me" %} selected{% endif %}>{{ prepare.mem_cats_single.6 }}</option>
      <option value="sy" {% if POST.type and POST.type == "sy" %} selected{% endif %}>{{ prepare.mem_cats_single.7 }}</option>
      <option value="ad" {% if POST.type and POST.type == "ad" %} selected{% endif %}>{{ prepare.mem_cats_single.8 }}</option>
      <option value="te" {% if POST.type and POST.type == "te" %} selected{% endif %}>{{ prepare.mem_cats_single.9 }}</option>
    </select>
  </div>
  {% if alerts.type %}
  <div class="alert alert-danger">
    <strong>{{ error }}</strong> {{ alerts.type}}
  </div>
  {% endif %}
  <input type="hidden" name="mem_type" value="{{ mem_type }}">
  <button type="submit" class="btn btn-primary btn-block btn-lg" style="margin-top: 15px;" name="save" value="1">{{ prepare.add_memory }}</button>
</form>

{% if mem_type == "s" %}
  <a href="/prepare/3/" class="btn btn-danger btn-block btn-lg" role="button" style="margin-top:15px;">{{ back }}</a>
{% else %}
<a href="/prepare/4/" class="btn btn-danger btn-block btn-lg" role="button" style="margin-top:15px;">{{ back }}</a>
{% endif %}
{% endblock %}
