{% extends "base.html" %}

{% block title %}Memory{% endblock %}

{% block statics %}
{% load static %}
<link rel="stylesheet" href="{% static "prepare/memory.css" %}">
{% endblock %}

{% block content %}

<div class="title">
  <i>{{ content.title }}</i>
</div>

{% if content.photo %}
<div class="media">
  <a href="/{{ content.photo }}" target="_blank"><img src="/{{ content.photo }}" class="mx-auto d-block img-fluid rounded"/></a>
</div>

{% elif content.video %}
<div class="media">
  <video src="/{{ content.video }}" class="mx-auto d-block" controls>
    Your browser does not support the video.
  </video>
</div>

{% elif content.youtube %}
<div class="media">
  <iframe src="https://www.youtube.com/embed/{{ content.youtube }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" class="mx-auto d-block" allowfullscreen></iframe>
</div>
{% endif %}

<div class="media">
  {{ content.text }}
</div>

{% if content.url_other %}
<div class="link">
  <a href="{{ content.url_other }}" class="btn btn-block btn-lg btn-info">Link</a>
</div>

{% endif %}

<p>{{ using_space }}</p>

{% if content.type == "s" %}
  <a href="/prepare/3/" class="btn btn-block btn-lg btn-danger">{{ back }}</a>
{% else %}
  <a href="/prepare/4/" class="btn btn-block btn-lg btn-danger">{{ back }}</a>
{% endif %}

<!-- Button to Open the Modal -->
<button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-block btn-lg btn-warning">
  {{ delete }}
</button>

<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">{{ delete_confirm }}</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <a href="/prepare/memory/{{ content.id }}/?delete=true" class="btn btn-warning">{{ delete }}</a>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
{% endblock %}
