{% extends "base.html" %}

{% block title %}Prepare{% endblock %}

{% block content %}

<h1>Prepare</h1>



<div>
    <a type="button" class="btn btn-info" href="1/">{{ prepare.steps.0 }} {{ prepare.steps.1 }}</a>
    <a type="button" class="btn btn-info" href="2/">{{ prepare.steps.0 }} {{ prepare.steps.2 }}</a>
    <a type="button" class="btn btn-info" href="3/">{{ prepare.steps.0 }} {{ prepare.steps.3 }}</a>
    <a type="button" class="btn btn-info" href="4/">{{ prepare.steps.0 }} {{ prepare.steps.4 }}</a>
    <a type="button" class="btn btn-info" href="5/">{{ prepare.steps.0 }} {{ prepare.steps.5 }}</a>
    <a type="button" class="btn btn-info" href="6/">{{ prepare.steps.0 }} {{ prepare.steps.6 }}</a>
    <a type="button" class="btn btn-info" href="7/">{{ prepare.steps.0 }} {{ prepare.steps.7 }}</a>
    <a type="button" class="btn btn-info" href="8/">{{ prepare.steps.0 }} {{ prepare.steps.8 }}</a>
</div>

{% endblock %}
